In [1]:
import pandas as pd
import sys
sys.path.insert(1, '..')
import os 
os.chdir('../..')
pd.set_option('display.max_columns',None)

In [2]:
from src.oss_validation import OssValidation as validation

In [3]:
data = pd.read_csv('/mnt/data/OBF/02_intermediate/preprocessed_oss_counter_all_v3.csv',
                    delimiter = '|')
dates = data.date.unique()
dates.sort()
dfs = []
for date in dates :
    dfs += [data.groupby('date').get_group(date)]
data = dfs[4].sample(1000)

In [13]:
from datetime import datetime
start = datetime.now()
validation_suite = validation('oss')
report = validation_suite.validate_data(data)
examples, report = validation_suite.get_anomalies_examples(anomalies=report, data=data)
end = datetime.now()
print(start, end)
print(datetime.now() - start)

/home/smartcapex_dv/src/oss_validation.py:146: RuntimeWarning: invalid value encountered in double_scalars
  measure['std'] = (measure['squared_sum'] / measure['nbr'] - measure['mean'] ** 2) ** 0.5

2022-08-25 13:19:49.348138 2022-08-25 13:19:58.013250
0:00:08.665474

In [14]:
report

,feature_name,anomaly_short_description,anomaly_long_description,examples,date,batch_id,type
id,,,,,,,
oss-202105-2022-08-25-0,U09_nbr_porteuse,Schema anomaly,The feature is in data but missing from the sc...,None,2022-08-25,202105,oss
oss-202105-2022-08-25-1,U21_nbr_porteuse,Schema anomaly,The feature is in data but missing from the sc...,None,2022-08-25,202105,oss
oss-202105-2022-08-25-2,cell_id,Distinctness anomaly,Actual distinctness value: 0.803 is not equal ...,"[6, 6, 1, 1, 5]",2022-08-25,202105,oss
oss-202105-2022-08-25-3,cell_id,Mapping anomaly,At least one value (6) is mapped to multiple c...,"[6, 3, 1, 2, 5]",2022-08-25,202105,oss
oss-202105-2022-08-25-4,cell_id,Mapping anomaly,At least one value (6) is mapped to multiple s...,"[6, 3, 1, 2, 5]",2022-08-25,202105,oss
oss-202105-2022-08-25-5,cell_occupation_dl_percentage,Presence anomaly,The feature was present in fewer examples than...,None,2022-08-25,202105,oss
oss-202105-2022-08-25-6,dataset anomaly,Duplicates anomaly,"There is duplicates in the dataset, the featur...","[{'date': 202105, 'cell_id': 6}, {'date': 2021...",2022-08-25,202105,oss
oss-202105-2022-08-25-7,total_nbr_porteuse,Schema anomaly,The feature is in data but missing from the sc...,None,2022-08-25,202105,oss
oss-202105-2022-08-25-8,total_trx,Schema anomaly,The feature is in data but missing from the sc...,None,2022-08-25,202105,oss
oss-202105-2022-08-25-9,trx_1800,Schema anomaly,The feature is in data but missing from the sc...,None,2022-08-25,202105,oss
oss-202105-2022-08-25-10,trx_900,Schema anomaly,The feature is in data but missing from the sc...,None,2022-08-25,202105,oss

In [15]:
examples

,anomaly_id,dv_example
48276,oss-202105-2022-08-25-2,"{'date': 202105, 'cell_id': 1, 'cell_name': 'L..."
50275,oss-202105-2022-08-25-2,"{'date': 202105, 'cell_id': 6, 'cell_name': 'L..."
49614,oss-202105-2022-08-25-2,"{'date': 202105, 'cell_id': 5, 'cell_name': 'L..."
49738,oss-202105-2022-08-25-2,"{'date': 202105, 'cell_id': 5, 'cell_name': 'L..."
49791,oss-202105-2022-08-25-2,"{'date': 202105, 'cell_id': 5, 'cell_name': 'L..."
48742,oss-202105-2022-08-25-3,"{'date': 202105, 'cell_id': 2, 'cell_name': 'L..."
49074,oss-202105-2022-08-25-3,"{'date': 202105, 'cell_id': 3, 'cell_name': 'L..."
50338,oss-202105-2022-08-25-3,"{'date': 202105, 'cell_id': 6, 'cell_name': 'L..."
49111,oss-202105-2022-08-25-3,"{'date': 202105, 'cell_id': 3, 'cell_name': 'L..."
48928,oss-202105-2022-08-25-3,"{'date': 202105, 'cell_id': 3, 'cell_name': 'L..."
49111,oss-202105-2022-08-25-4,"{'date': 202105, 'cell_id': 3, 'cell_name': 'L..."
48122,oss-202105-2022-08-25-4,"{'date': 202105, 'cell_id': 1, 'cell_name': 'L..."
48768,oss-202105-2022-08-25-4,"{'date': 202105, 'cell_id': 3, 'cell_name': 'L..."
48430,oss-202105-2022-08-25-4,"{'date': 202105, 'cell_id': 2, 'cell_name': 'L..."
49975,oss-202105-2022-08-25-4,"{'date': 202105, 'cell_id': 6, 'cell_name': 'L..."
56309,oss-202105-2022-08-25-5,"{'date': 202105, 'cell_id': 18958, 'cell_name'..."
56552,oss-202105-2022-08-25-5,"{'date': 202105, 'cell_id': 19385, 'cell_name'..."
57627,oss-202105-2022-08-25-5,"{'date': 202105, 'cell_id': 32152, 'cell_name'..."
56396,oss-202105-2022-08-25-5,"{'date': 202105, 'cell_id': 19145, 'cell_name'..."
54204,oss-202105-2022-08-25-5,"{'date': 202105, 'cell_id': 13473, 'cell_name'..."
49074,oss-202105-2022-08-25-6,"{'date': 202105, 'cell_id': 3, 'cell_name': 'L..."
50215,oss-202105-2022-08-25-6,"{'date': 202105, 'cell_id': 6, 'cell_name': 'L..."
48899,oss-202105-2022-08-25-6,"{'date': 202105, 'cell_id': 3, 'cell_name': 'L..."
50093,oss-202105-2022-08-25-6,"{'date': 202105, 'cell_id': 6, 'cell_name': 'L..."
49998,oss-202105-2022-08-25-6,"{'date': 202105, 'cell_id': 6, 'cell_name': 'L..."

In [16]:
data

,date,cell_id,cell_name,site_id,cell_band,cell_tech,cell_sector,year,week,week_period,total_data_traffic_dl_gb,total_voice_traffic_kerlands,total_data_traffic_up_gb,lost_traffic_kerlands,traffic_loss_rate,average_throughput_user_dl_kbps,average_throughput_user_ul_kbps,average_number_of_users_dl,average_number_of_users_ul,cell_occupation_dl_percentage,cell_occupation_ul_percentage,average_number_of_users_in_queue,taux_de_trafic_half_rate,tch_estab_failure_rate,tch_estab_failure_num,trx_900,trx_1800,total_trx,U21_nbr_porteuse,U09_nbr_porteuse,total_nbr_porteuse
56941,202105,20081,GAOUAT1,SO0108,G900,2G,S1,2021,5,202105,0.927467,0.327589,0.0,0.0,0.0,40.695242,44.946292,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN
59410,202105,60682,BASSEM2,CC0068,G900,2G,S2,2021,5,202105,2.075820,0.352575,0.0,0.0,0.0,44.082823,30.994387,NaN,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN
58318,202105,36913,WBF691F,BF0691,U900,3G,S3,2021,5,202105,20.916298,0.079422,0.0,0.0,NaN,1569.568371,331.690838,0.695784,0.695668,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,3.0,1.0,4.0
58755,202105,38566,WBF856C,BF0856,U2100,3G,S3,2021,5,202105,9.417328,0.020675,0.0,0.0,NaN,1765.949426,214.180298,0.443039,0.442965,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,4.0,1.0,5.0
55141,202105,16851,WBF6851,BF0685,U2100,3G,S1,2021,5,202105,103.345582,0.314944,0.0,0.0,NaN,1426.196715,246.271080,3.400149,3.399529,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,4.0,1.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58080,202105,35172,WBF517E,BF0517,U900,3G,S2,2021,5,202105,173.438755,0.665869,0.0,0.0,NaN,428.102027,154.004749,12.259615,12.259201,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.0,1.0
50698,202105,1092,KAMPTI2,BF0109,G900,2G,S2,2021,5,202105,6.423815,1.020825,0.0,0.0,0.0,46.412081,43.713197,NaN,NaN,0.003229,NaN,NaN,0.031293,0.003342,4.0,NaN,NaN,NaN,NaN,NaN,NaN
48742,202105,2,LHB3662,BF0366,L800,4G,S2,2021,5,202105,0.000000,0.000000,0.0,0.0,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.0,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
56392,202105,19141,WBF9141,BF0914,U2100,3G,S1,2021,5,202105,131.558331,0.285689,0.0,0.0,NaN,0.000000,0.000000,4.164327,4.161086,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,2.0,1.0,3.0
55801,202105,18147,WBF8147,BF0814,U2100,3G,S1,2021,5,202105,45.953172,0.131614,0.0,0.0,NaN,2321.588043,324.736477,1.595908,1.595833,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,4.0,1.0,5.0

In [17]:
data.describe()

,date,cell_id,year,week,week_period,total_data_traffic_dl_gb,total_voice_traffic_kerlands,total_data_traffic_up_gb,lost_traffic_kerlands,traffic_loss_rate,average_throughput_user_dl_kbps,average_throughput_user_ul_kbps,average_number_of_users_dl,average_number_of_users_ul,cell_occupation_dl_percentage,cell_occupation_ul_percentage,average_number_of_users_in_queue,taux_de_trafic_half_rate,tch_estab_failure_rate,tch_estab_failure_num,trx_900,trx_1800,total_trx,U21_nbr_porteuse,U09_nbr_porteuse,total_nbr_porteuse
count,1000.0,1000.000000,1000.0,1000.0,1000.0,1000.000000,1000.000000,1000.000000,1000.000000,266.000000,1000.000000,1000.000000,734.000000,534.000000,466.000000,200.000000,734.000000,266.000000,266.000000,1.000000e+03,0.0,0.0,0.0,526.000000,402.000000,534.000000
mean,202105.0,16912.329000,2021.0,5.0,202105.0,81.979423,0.632653,4.820959,0.056132,0.040263,3204.897004,578.558404,7.376339,3.244602,8.558308,2.833081,0.299671,42.512979,2.048092,6.077853e+03,NaN,NaN,NaN,3.539924,1.007463,4.245318
std,0.0,17263.005853,0.0,0.0,0.0,114.836243,1.731916,13.999423,0.508594,0.106844,6227.198717,1194.709683,12.364004,3.427606,13.799195,2.777229,1.276410,41.697969,7.549145,1.313966e+05,NaN,NaN,NaN,0.636451,0.086171,0.967447
min,202105.0,1.000000,2021.0,5.0,202105.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,NaN,NaN,NaN,1.000000,1.000000,1.000000
25%,202105.0,2022.250000,2021.0,5.0,202105.0,9.339979,0.029753,0.000000,0.000000,0.000000,45.811874,39.935003,1.194091,1.085096,0.000000,0.867826,0.000000,0.007244,0.000000,0.000000e+00,NaN,NaN,NaN,3.000000,1.000000,4.000000
50%,202105.0,12605.000000,2021.0,5.0,202105.0,42.328857,0.188615,0.000000,0.000000,0.000054,1367.987283,228.263911,2.879332,2.301835,0.151174,2.240414,0.000000,28.839153,0.003541,0.000000e+00,NaN,NaN,NaN,4.000000,1.000000,5.000000
75%,202105.0,21014.250000,2021.0,5.0,202105.0,106.877740,0.443551,0.000000,0.000000,0.007959,2253.665921,345.442961,7.110516,4.524140,13.552396,3.145119,0.074692,88.494057,0.132547,0.000000e+00,NaN,NaN,NaN,4.000000,1.000000,5.000000
max,202105.0,65257.000000,2021.0,5.0,202105.0,856.917030,32.287556,124.221896,13.837524,0.428571,52130.273600,9053.958474,100.087475,28.416171,69.822697,13.265332,15.210467,99.624847,71.498004,4.131808e+06,NaN,NaN,NaN,4.000000,2.000000,5.000000